* {
    margin: 0;
    padding: 0;
}

.people-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;

    .people-card {
        height: 500px;
        width: 250px;
        border: solid 2px black;
        grid-template-columns: 1fr 1fr 1fr;
        display: grid;

        a {
            text-decoration: none;
            color: unset;
            grid-column: 1 / 3;
            height: 20px;

            .person-name {
                padding: 0 0 0 10px;
                text-wrap: nowrap;

            }
        }

        .person-team {
            grid-column: 1;
            padding: 0 0 0 10px;
            font-size: 1rem;
            height: 20px;
        }

        .person-hp {
            grid-column: 3;
            grid-row: 1;
            text-wrap: nowrap;
            padding: 0 10px 0 0;
            text-align: right;
        }

        .person-move {
            grid-column: 1 / -1;
            padding: 0 20px;
        }

    



        img {
            aspect-ratio: 1 / 1;
            object-fit: cover;
            grid-column: 1 / -1;
            width: 230px;
            padding: 0 10px;
        }


    }
}