* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: black;
    color: white; */
font-family: sans-serif;
    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }
}

.people-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;

    .people-card {
        width: clamp(320px, 30dvw, 400px);
        aspect-ratio: 5 / 7;
        border: solid 2px black;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 30px 2fr 30px 60px 30px 50px 50px;
        gap: 5px;
        display: grid;
        --favo-color: unset;
        background-color: var(--favo-color);
        color: contrast-color(var(--favo-color));
        background-image: url('img/backdrop.png');
        background-blend-mode: multiply;
        border: solid 10px yellow;
        border-radius: 10px;

        a {
            text-decoration: none;
            color: unset;
            grid-column: 1 / 3;
            height: 20px;
            margin: 5px 0 0 0;

            .person-name {
                padding: 0 0 0 10px;
                text-wrap: nowrap;
            }
        }

        .person-hp {
            grid-column: 3;
            grid-row: 1;
            text-wrap: nowrap;
            padding: 0 10px 0 0;
            text-align: right;
            margin: 5px 0 0 0;
            height: 20px;
        }

        h4 {
            padding: 0 20px;
            align-self: end;
        }

        .person-ability {
            grid-column: 1 / -1;
            padding: 0 20px;
        }

        .person-move {
            grid-column: 1 / -1;
            padding: 0 20px 5px 20px;
        }

        img {
            aspect-ratio: 10 / 7;
            object-fit: cover;
            grid-column: 1 / -1;
            width: 90%;
            border: ridge 5px lightgray;
            justify-self: center;
        }

    }
}

.person-details {
    display: grid;
    grid-template-columns: 1fr;
    width: clamp(320px, 90%, 1440px);
    margin: auto;

    @media (min-width: 660px) {
        grid-template-columns: 50% 50%;
        gap: .5rem;
    }

    article {
        p {
            font-size: 18px;
        }
    }

    .person-left {
        @media (min-width: 660px) {
            grid-column: 1;
        }

        img {
            width: clamp(300px, 100%, 500px);
            aspect-ratio: 1 / 1;
            object-fit: cover;
            display: flex;
            margin: 0 auto;
        }

        p {
            width: clamp(300px, 100%, 500px);
            display: flex;
            margin: 0 auto;
        }
    }

    .person-right {
        @media (min-width: 660px) {
            grid-column: 2;
        }

        .person-story {
            p {
                span {
                    font-weight: bold;
                }
            }
        }
    }
}