* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

.people-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;

    .people-card {
        width: clamp(320px, 30dvw, 400px);
        aspect-ratio: 5 / 7;
        border: solid 2px black;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 30px 2fr 1fr 1fr 1fr 1fr;
        gap: 5px;
        display: grid;
        --favo-color: unset;
        background-color: var(--favo-color);
        color: contrast-color(var(--favo-color));
        background-image: url('img/backdrop.png');
        background-blend-mode: multiply;
        border: solid 10px yellow;
        border-radius: 10px;

        a {
            text-decoration: none;
            color: unset;
            grid-column: 1 / 3;
            height: 20px;
            margin: 5px 0 0 0;

            .person-name {
                padding: 0 0 0 10px;
                text-wrap: nowrap;

            }
        }

        .person-hp {
            grid-column: 3;
            grid-row: 1;
            text-wrap: nowrap;
            padding: 0 10px 0 0;
            text-align: right;
            margin: 5px 0 0 0;
            height: 20px;

        }

        h4 {
            padding: 0 20px;

        }

        .person-ability {
            grid-column: 1 / -1;
            padding: 0 20px;
        }

        .person-move {
            grid-column: 1 / -1;
            padding: 0 20px 5px 20px;
        }

        img {
            aspect-ratio: 10 / 7;
            object-fit: cover;
            grid-column: 1 / -1;
            width: 90%;
            border: ridge 5px lightgray;
            justify-self: center;
        }

    }
}